<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusContentOutline">
      <contentoutline
            class="de.cooperate.modeling.graphical.papyrus.extensions.PapyrusContentOutlinePage"
            priority="100">
      </contentoutline>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateContext">
         <selector
               class="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.CooperateClientSelector">
         </selector>
      </clientContext>
      <binding
            category="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints"
            context="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateContext">
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints"
            name="Cooperate Constraints">
      </category>
      <constraintProvider
            cache="true">
         <constraints
               categories="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints">
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.ClassDiagramAssociationConstraint"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.classAssociationConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Class Diagram Association Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} has no proper name.
               </message>
               <description>
                  An association in a class diagram needs a proper non null and non empty name.
               </description>
               <target
                     class="Association">
               </target>
            </constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.UseCaseDiagramAssociationConstraint"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.useCaseAssociationConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Use Case Diagram Association Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} must have an empty name.
               </message>
               <description>
                  An association in a use case diagram must have an empty name.
               </description>
               <target
                     class="Association">
               </target>
            </constraint>
         </constraints>
         <package
               namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </package>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.CooperateSaveAndDirtyService"
            id="org.eclipse.papyrus.infra.ui.lifecycleevents.ISaveAndDirtyService"
            priority="2"
            startKind="startup">
      </service>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="resource/CooperateModeling.configuration"
            priority="1">
      </configuration>
   </extension>
   <extension
         point="de.cooperateproject.ui.modelcreator.postprocessor">
      <class
            class="de.cooperate.modeling.graphical.papyrus.extensions.configuration.PapyrusConfigurationModelCreationPostProcessor">
      </class>
   </extension>
   <extension
      point="org.eclipse.papyrus.infra.properties.contexts">
   <context appliedByDefault="true" contextModel="resource/CooperateProperties.ctx" isCustomizable="true" />
</extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.emf.facet.efacet.metamodel.v0_2_0.efacet.EFacetPackage"
            genModel="platform:/plugin/org.eclipse.papyrus.emf.facet.efacet.metamodel/model/efacet-0.2.0.genmodel"
            uri="http://www.eclipse.org/papyrus/emf/facet/efacet/0.2.incubation/efacet">
      </package>
   </extension>
</plugin>
