<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories">
      <factory
            class="de.cooperateproject.modeling.textual.common.issues.CommonUMLReferencingElementMissingElementFactory">
      </factory>
   </extension>

</plugin>
