<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories">
      <factory
            class="de.cooperateproject.modeling.textual.common.issues.CommonUMLReferencingElementMissingElementFactory">
      </factory>
      <factory
            class="de.cooperateproject.modeling.textual.common.issues.VisibilityHavingElementResolutionFactory">
      </factory>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.calculator">
      <calculator
            class="de.cooperateproject.modeling.textual.common.derivedstate.calculator.UMLReferencingElementCalculator">
      </calculator>
      <calculator
            class="de.cooperateproject.modeling.textual.common.derivedstate.calculator.CommentCalculator">
      </calculator>
      <calculator
            class="de.cooperateproject.modeling.textual.common.derivedstate.calculator.VisibilityHavingElementCalculator">
      </calculator>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.remover">
      <remover
            class="de.cooperateproject.modeling.textual.common.derivedstate.calculator.UMLReferencingElementCalculator">
      </remover>
      <remover
            class="de.cooperateproject.modeling.textual.common.derivedstate.remover.VisibilityHavingElementRemover">
      </remover>
   </extension>

</plugin>
