<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cooperateproject.modeling.textual.cls.formatter" name="ClsFormatter" schema="schema/de.cooperateproject.modeling.textual.cls.formatter.exsd"/>
   <extension
         point="de.cooperateproject.modeling.textual.cls.formatter">
      <client
            class="de.cooperateproject.modeling.textual.cls.formatting2.ClsFormatter"
            priority="1">
      </client>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories">
      <factory
            class="de.cooperateproject.modeling.textual.cls.issues.ClsUMLReferencingElementMissingElementFactory">
      </factory>
      <factory
            class="de.cooperateproject.modeling.textual.cls.issues.ClsAssociationMemberEndRoleNameFactory">
      </factory>
      <factory
            class="de.cooperateproject.modeling.textual.cls.issues.ClsCardinalityCheckFactory">
      </factory>
      <factory
            class="de.cooperateproject.modeling.textual.cls.issues.ClsPropertyAbstractQualifierFactory">
      </factory>
      <factory
            class="de.cooperateproject.modeling.textual.cls.issues.ClsPropertyStaticQualifierFactory">
      </factory>
      <factory
            class="de.cooperateproject.modeling.textual.cls.issues.ClsRootPackageMissingFactory">
      </factory>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.processor">
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.calculator.GeneralizationCalculator">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.calculator.ImplementationCalculator">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.calculator.XtextAssociationCalculator">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.initializer.XtextAssociationInitializer">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.remover.XtextAssociationRemover">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.calculator.AssociationMemberEndDummy">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.remover.ClassRemover">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.cls.derivedstate.initializer.ClassInitializer">
      </class>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.service.transientstatus">
      <class
            class="de.cooperateproject.modeling.textual.cls.services.ClsTransientStatusProvider">
      </class>
   </extension>
</plugin>
