<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.ui.editors.launcher.extensions.editorlauncher">
      <provider
            class="de.cooperateproject.ui.papyrus.editorlauncher.PapyrusCDOLauncherFactory">
      </provider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.sashModelProvider">
      <sashModelProvider
            class="de.cooperateproject.ui.papyrus.editorlauncher.DummySashModelProvider"
            scheme="cdo.checkout">
      </sashModelProvider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cooperateproject.ui.CommitEditorChanges"
            contextId="de.cooperateproject.modeling.textual.xtext.runtime.CooperateCDOXtextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+C">
      </key>
   </extension>
</plugin>
