<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.ui.editors.launcher.extensions.editorlauncher">
      <provider
            class="de.cooperateproject.ui.papyrus.editorlauncher.PapyrusCDOLauncherFactory">
      </provider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.sashModelProvider">
      <sashModelProvider
            class="de.cooperateproject.ui.papyrus.editorlauncher.DummySashModelProvider"
            scheme="cdo.checkout">
      </sashModelProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cooperateproject.ui.papyrus.editor.CooperatePapyrusEditor"
            default="false"
            extensions="di"
            icon="icons/16/cooperate_16.png"
            id="de.cooperateproject.ui.papyrus.editor"
            name="Cooperate Papyrus Editor">
      </editor>
   </extension>
</plugin>
