/Association.java
/AssociationEnd.java
/Attribute.java
/Class.java
/ClassDiagram.java
/Classifier.java
/ClassifierAssociationEnd.java
/ClassifierReference.java
/ClsFactory.java
/ClsPackage.java
/Connector.java
/DataTypeReference.java
/Generalization.java
/Implementation.java
/Interface.java
/Member.java
/Method.java
/PackageImport.java
/Parameter.java
/Property.java
/TypeReference.java
/TypedConnector.java
/AssociationProperties.java
/Cardinality.java
/Comment.java
/CommentLink.java
/Commentable.java
/PrimitiveType.java
/ReadingDirection.java
/Visibility.java
