<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories">
      <factory
            class="de.cooperateproject.modeling.textual.usecase.issues.UsecaseUMLReferencingElementMissingElementFactory">
      </factory>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.processor">
      <class
            class="de.cooperateproject.modeling.textual.usecase.derivedstate.calculator.AssociationCalculator">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.usecase.derivedstate.calculator.ExtendCalculator">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.usecase.derivedstate.calculator.GeneralizationCalculator">
      </class>
      <class
            class="de.cooperateproject.modeling.textual.usecase.derivedstate.calculator.IncludeCalculator">
      </class>
   </extension>
   <extension
         point="de.cooperateproject.modeling.textual.xtext.runtime.service.transientstatus">
      <class
            class="de.cooperateproject.modeling.textual.usecase.services.UseCaseTransientStatusProvider"></class>
   </extension>

</plugin>
