<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cooperateproject.de/uml/xtext/clazz/UmlDsl" 
       class = "de.cooperateproject.uml.xtext.clazz.umlDsl.UmlDslPackage"
       genModel = "model/generated/UmlDsl.genmodel" /> 
	
  </extension>



</plugin>
