<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Diff View"
            id="de.cooperateproject.ui.diff">
      </category>
      <view
            name="Diff View"
            icon="icons/16/cooperate_16.png"
            category="de.cooperateproject.ui.diff"
            class="de.cooperateproject.ui.diff.views.DiffView"
            id="de.cooperateproject.ui.diff.views.DiffView">
      </view>
   </extension>
   
    <extension point="org.eclipse.ui.commands">
   		<command name="OpenView"
   		description=""
   		id="de.cooperateproject.ui.diff.command.openView"/>
   	</extension>
   	
   	<extension point="org.eclipse.ui.handlers">
   		<handler class="de.cooperateproject.ui.diff.handlers.OpenViewHandler"
   		commandId="de.cooperateproject.ui.diff.command.openView"/>
   	</extension>
   	
   	<extension point="org.eclipse.ui.menus">
   		<menuContribution 
   		 locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
   		 <command commandId="de.cooperateproject.ui.diff.command.openView"
	   		 label="Show in Diff View"
	   		 style="push">
	   		 <visibleWhen>
	   			 <iterate>
	      				 <adapt type="org.eclipse.core.resources.IResource">
	         	 <test property="org.eclipse.core.resources.name" value="*.cooperate"/>
	       				 </adapt>
	    		 </iterate>
			 </visibleWhen>
   		 </command>
   		</menuContribution>
   	</extension>
   	
   	<extension-point id="de.cooperateproject.ui.diff.postProcessor" name="DiffView post processor" schema="schema/postProcessor.exsd"/>
    
    <extension-point id="de.cooperateproject.ui.diff.labelHandlers" name="DiffView labels" schema="schema/labelHandlers.exsd"/>

</plugin>
