<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.modeling.transformation.registry.transformationfactories">
      <transformation>
         <transformationfactory
               class="de.cooperateproject.modeling.transformation.sequence.SequenceTransformationFactory">
         </transformationfactory>
         <transformationfolder
               foldername="transforms">
         </transformationfolder>
      </transformation>
   </extension>

</plugin>
