<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
             point="de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories">
          <factory
                class="de.cooperateproject.modeling.textual.sequence.issues.SequenceUMLReferencingElementMissingElementFactory">
          </factory>
          <factory
                class="de.cooperateproject.modeling.textual.sequence.issues.SequenceMessageHasInconsistentExecutionSpecificationFactory">
          </factory>
          <factory
                class="de.cooperateproject.modeling.textual.sequence.issues.SequenceFragmentSequenceHasWrongOrderFactory">
          </factory>
          <factory
                class="de.cooperateproject.modeling.textual.sequence.issues.SequenceFragmentWithoutOriginatingExecutionSpecificationFactory">
          </factory>
    </extension>
    <extension
          point="de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.processor">
       <class
             class="de.cooperateproject.modeling.textual.sequence.derivedstate.calculator.ActorClassifierMappingCalculator">
       </class>
       <class
             class="de.cooperateproject.modeling.textual.sequence.derivedstate.calculator.OccurenceSpecificationCalculator">
       </class>
    </extension>
    <extension
          point="de.cooperateproject.modeling.textual.xtext.runtime.unresolvableissuefilters">
       <class
             class="de.cooperateproject.modeling.textual.sequence.issues.SequenceIssuesOrderDependenceFilter">
       </class>
    </extension>
</plugin>
