<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories" name="Automated Issue Resolution Factories" schema="schema/de.cooperateproject.modeling.textual.xtext.runtime.automatedissueresolutionfactories.exsd"/>
   <extension-point id="de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.processor" name="Derived State Processor" schema="schema/de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.processor.exsd"/>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.cooperateproject.modeling.textual.xtext.runtime.CooperateCDOXtextEditor"
            name="CooperateCDOXtextEditor"
            parentId="org.eclipse.xtext.ui.XtextEditorScope">
      </context>
   </extension>

</plugin>
