<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.modeling.transformation.registry.transformationfactories">
      <transformation>
         <transformationfolder
               foldername="transforms">
         </transformationfolder>
         <defaulttransformation
               diagramName="Class"
               graphicalFileExtension="notation">
         </defaulttransformation>
         <postprocessor
               class="de.cooperateproject.modeling.transformation.cls.postprocessors.T2GPostProcessor"
               direction="textual to graphical">
         </postprocessor>
         <postprocessor
               class="de.cooperateproject.modeling.transformation.cls.postprocessors.G2TPostProcessor"
               direction="graphical to textual">
         </postprocessor>
      </transformation>
   </extension>

</plugin>
