<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cooperateproject.ui.editors.launcher.extensions.editorlauncher" name="EditorLauncher" schema="schema/de.cooperateproject.ui.editors.launcher.extensions.editorlauncher.exsd"/>
   <extension
         id="CooperateProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.cooperateproject.ui.nature.CooperateProjectNature">
         </run>
      </runtime>
      <builder
            id="de.cooperateproject.ui.CooperateProjectBuilder">
      </builder>
   </extension>
   <extension
         id="CooperateProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.cooperateproject.ui.nature.CooperateProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.cooperateproject.ui.AddProjectNatureCommand"
            name="Convert to Cooperate Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cooperateproject.ui.nature.AddProjectNatureCommand"
            commandId="de.cooperateproject.ui.AddProjectNatureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="de.cooperateproject.ui.AddProjectNatureCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.cooperateproject.ui.CooperateProjectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.cooperateproject.ui.properties.ProjectPropertiesPage"
            id="de.cooperateproject.ui.nature.properties"
            name="Cooperate">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="de.cooperateproject.ui.CooperateProjectNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            extensions="cooperate"
            icon="icons/16/cooperate_16.png"
            id="de.cooperateproject.ui.editors.launcher.EditorLauncher"
            launcher="de.cooperateproject.ui.editors.launcher.EditorLauncher"
            name="Cooperate Editor Launcher">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cooperateproject.ui.nature.StartupBuilder">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.cooperateproject.ui.wizards.cooperateWizards"
            name="Cooperate">
      </category>
      <wizard
            category="de.cooperateproject.ui.wizards.cooperateWizards"
            class="de.cooperateproject.ui.wizards.projectnew.NewCooperateProjectWizard"
            finalPerspective="de.cooperateproject.ui.perspective"
            icon="icons/16/cooperate_16.png"
            id="de.cooperateproject.ui.newCooperateProjectWizard"
            name="Cooperate Project"
            project="true">
      </wizard>
      <wizard
            category="de.cooperateproject.ui.wizards.cooperateWizards"
            class="de.cooperateproject.ui.wizards.modelnew.NewClassDiagramWizard"
            finalPerspective="de.cooperateproject.ui.perspective"
            icon="icons/16/cooperate_16.png"
            id="de.cooperateproject.ui.wizards.newClassDiagram"
            name="Class Diagram">
      </wizard>
   </extension>
   <extension
         point="de.cooperateproject.cdo.util.resources">
      <provider
            class="de.cooperateproject.ui.editors.launcher.extensions.TraceModelFileExtensionProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="de.cooperateproject.ui.nature.CDOTextDecorator"
            id="de.cooperateproject.ui.decoratorCDO"
            label="CDO Text Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cooperateproject.ui.perspective.CooperatePerspective"
            icon="icons/16/cooperate_16.png"
            id="de.cooperateproject.ui.perspective"
            name="Cooperate">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/16/cooperate_16.png"
               label="Cooperate Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="de.cooperateproject.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="newWizardId"
                  value="de.cooperateproject.ui.newCooperateProjectWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/16/cooperate_16.png"
               label="Class Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="de.cooperateproject.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="newWizardId"
                  value="de.cooperateproject.ui.wizards.newClassDiagram">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
