<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated activity -->
      <package
            uri="http://www.cooperateproject.de/modeling/textual/activity/Activity"
            class="de.cooperateproject.modeling.textual.activity.activity.ActivityPackage"
            genModel="model/activity.xcore"/>
   </extension>

</plugin>
