<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated act -->
      <package
            uri="http://www.cooperateproject.de/modeling/textual/activity/Activity"
            class="de.cooperateproject.modeling.textual.activity.act.ActPackage"
            genModel="model/act.genmodel"/>
   </extension>

</plugin>
