body {
	max-width: 700px;
	margin: auto;
}

#contentArea {
	padding: 10px;
}

#logoHeader {
	background-color: black;
	height: 80px;
	display: table;
	width: 100%;
	color: white;
}

#logoImage {
	float: left;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-image: url("logo.png");
}

#logoText {
    vertical-align:middle;
    display: table-cell;
	margin-left: 0px;
}

#logoClear {
	clear: both;
}
