/ActionImpl.java
/ActivityDiagramImpl.java
/ActivityElementReferenceImpl.java
/ActivityFactoryImpl.java
/ActivityPackageImpl.java
/AssociationImpl.java
/CommentImpl.java
/ConditionEndImpl.java
/ConditionImpl.java
/ForkEndImpl.java
/ForkImpl.java
/NameImpl.java
/ReferenceImpl.java
/StartEndReferenceImpl.java
