<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cmp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cooperateproject.modeling.textual.cmp.cmp.presentation.CmpModelWizardID"
            name="%_UI_CmpModelWizard_label"
            class="de.cooperateproject.modeling.textual.cmp.cmp.presentation.CmpModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CmpModelFile.gif">
         <description>%_UI_CmpModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cmp -->
      <editor
            id="de.cooperateproject.modeling.textual.cmp.cmp.presentation.CmpEditorID"
            name="%_UI_CmpEditor_label"
            icon="icons/full/obj16/CmpModelFile.gif"
            extensions="cmp"
            class="de.cooperateproject.modeling.textual.cmp.cmp.presentation.CmpEditor"
            contributorClass="de.cooperateproject.modeling.textual.cmp.cmp.presentation.CmpActionBarContributor">
      </editor>
   </extension>

</plugin>
