<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cooperateproject.ui.preferences.impl.ErrorIndicatorPreferenceInitializer">
      </initializer>
      <initializer
            class="de.cooperateproject.ui.preferences.impl.CDOServerPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cooperateproject.ui.preferences.cooperate"
            class="de.cooperateproject.ui.preferences.preferencepage.CDOServerConnectionPreference"
            id="de.cooperateproject.ui.preferences.cdoserver"
            name="CDO">
      </page>
      <page
            class="de.cooperateproject.ui.preferences.preferencepage.WorkbenchPreferenceErrorIndicator"
            id="de.cooperateproject.ui.preferences.cooperate"
            name="Cooperate">
      </page>
   </extension>

</plugin>
