<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.ui.diff.labelHandlers">
      <labelHandler
            class="de.cooperateproject.ui.diff.cls.labelhandling.ClsLabelHandler"
            metamodel="de.cooperateproject.modeling.textual.cls.cls.impl">
      </labelHandler>
   </extension>
   <extension
         point="de.cooperateproject.ui.diff.derivedcalculator">
      <class
            class="de.cooperateproject.modeling.textual.cls.ui.ClsExecutableExtensionFactory:de.cooperateproject.modeling.textual.xtext.runtime.derivedstate.initializer.DerivedStateProcessor"
            ns_uri="http://www.eclipse.org/emf/CDO/Eresource/4.0.0">
      </class>
   </extension>
   <extension
         point="de.cooperateproject.ui.diff.postProcessor">
      <postProcessor
            class="de.cooperateproject.ui.diff.cls.postproccesing.ClsPostProcessor"
            metamodel="de.cooperateproject.modeling.textual.usecase.usecase.impl">
      </postProcessor>
</extension>

</plugin>
