<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints"
            name="Cooperate Constraints">
      </category>
      <constraintProvider
            cache="true">
            <constraints
               categories="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints">
         <constraint
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.component.componentsMustNotBeAbstract"
                  isEnabledByDefault="true"
                  lang="OCL"
                  mode="Live"
                  name="Components must not be abstract"
                  severity="WARNING"
                  statusCode="2">
      		<description>Components must not be abstract</description>
      		<message>Components must not be abstract.</message>
      		<target class="Component"/>
      		<![CDATA[
         		self.isAbstract = false
      		]]>
   			</constraint>
   			<constraint
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.connectorsShallHaveNames"
                  isEnabledByDefault="true"
                  lang="OCL"
                  mode="Live"
                  name="Connectors shall have names"
                  severity="WARNING"
                  statusCode="2">
      		<description>Connectors should have a name.</description>
      		<message>Connectors should have a name.</message>
      		<target class="Connector"/>
      		<![CDATA[
         		self.name <> null
      		]]>
   			</constraint>
   			</constraints>
   			<package
               namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </package>
          </constraintProvider>
          
          
                <constraintProvider
            cache="true">
         <constraints
               categories="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints">
          
          
           <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.component.validation.constraints.ComponentDiagramClassifierOfPortInDiagram"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.classifierOfPortInDiagram"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Classifiers of ports should reside in the same diagram"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  The classifier of the port {0} must reside in the same diagram.
               </message>
               <target
                     class="Shape">
               </target>
               <description>
                  Classifiers of ports should reside in the same diagram.
               </description>
            </constraint>
         </constraints>
         <package
               namespaceUri="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
         </package>
      </constraintProvider>
          
          
   </extension>

</plugin>
