<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.modeling.graphical.papyrus.extensions.PaletteCustomization">
      <customization
            class="de.cooperateproject.modeling.graphical.papyrus.extensions.component.palette.AddClassToComponentDiagramPaletteCustomization">
      </customization>
   </extension>

</plugin>
