<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.userAgentStyleSheet">
      <stylesheet
            stylesheetPath="theme/cooperate.css">
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints"
            name="Cooperate Constraints">
      </category>
      <constraintProvider
            cache="true">
         <constraints
               categories="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints">
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramAssociationNoNameConstraint"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.useCaseAssociationNoNameConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Use Case Diagram Association Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} must have an empty name.
               </message>
               <description>
                  An association in a use case diagram must have an empty name.
               </description>
               <target
                     class="Association">
               </target>
            </constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramAssociationEndpointsConstraint"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.useCaseAssociationEndpointsConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Use Case Diagram Association Must Connect Actor and Usecase Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} is only allowed to connect an Actor with a Use Case.
               </message>
               <description>
                  An association in a use case diagram must interconnect Actors with Use Cases.
               </description>
               <target
                     class="Association">
               </target>
            </constraint>
            <constraint
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.allowOnlyUsecasesInComponent"
                  isEnabledByDefault="true"
                  lang="OCL"
                  mode="Live"
                  name="Allow only use-cases in component"
                  severity="WARNING"
                  statusCode="2">
      		<description>Use cases must not exist outside of systems modeled as components.</description>
      		<message>Use-Cases have to be nested in components</message>
      		<target class="UseCase"/>
      		<![CDATA[
         		self.owner.oclIsKindOf(Component)
      		]]>
   			</constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramConstraintsOnExtendsHaveToBeContained"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.constraintModelingCorrectForExtends"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Constraints on extend relations have to be nested"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  The constraint {0} must be contained by the extend relationship.
               </message>
               <description>
                  Constraints on extend relationships must be contained as condition in the extend relationship itself.
               </description>
               <target
                     class="Constraint">
               </target>
            </constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramConstraintsMustHaveNaturalLanguageDescription"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.constraintOnExtendMustHaveNaturalLanguageSpecification"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Constraints on extend relations have to have a natural language specification"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  The constraint {0} must have an OpaqueExpression including a &quot;Natural Language&quot; description of the constraint.
               </message>
               <target
                     class="Constraint">
               </target>
               <description>
                  Constraints for extend relationships must have an OpaqueSpecification that has a specification "Natural Language" that includes a non-empty body.
               </description>
            </constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramConditionAvailableForMultipleExtensions"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.conditionAvailableForMultipleExtensions"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Multiple extensions are distinguishable"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  The extend relationship {0} is not distinguishable from other ones because of a missing condition.
               </message>
               <target
                     class="Model">
               </target>
               <description>
                  If more than one extend relationships are defined for a common extension location (extension point), there has to be a condition to distinguish them.
               </description>
            </constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramExtendHasOnlyOneLocation"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.extendHasOnlyOneLocation"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Extend has exactly one location"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  The extend relationship {0} has not exactly one extension location (extension point).
               </message>
               <description>
                  An extend relationship must have exactly one extension location (extension point).
               </description>
               <target
                     class="Extend">
               </target>
            </constraint>
         </constraints>
         <package
               namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </package>
      </constraintProvider>
      <constraintProvider
            cache="true">
         <constraints
               categories="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.cooperateConstraints">
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseSystemMustBeOfTypeComponent"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.validation.systemMustBeAComponent"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="System must be a component"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  The system {0} must be of type component.
               </message>
               <target
                     class="Shape">
               </target>
               <description>
                  The system used in a use case diagram must be of type component.
               </description>
            </constraint>
            <constraint
                  class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.validation.constraints.UseCaseDiagramExtensionPointIsVisible"
                  id="de.cooperateproject.modeling.graphical.papyrus.extensions.extensionPointsUsedInExtendMustBeVisible"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Extension points used in extend relations must be visible"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  {0} used in extend relationships must be visible to the user.
               </message>
               <target
                     class="Connector">
               </target>
               <description>
                  An extension point used in an extend realation has to be visible in the diagram.
               </description>
            </constraint>
         </constraints>
         <package
               namespaceUri="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
         </package>
      </constraintProvider>
   </extension>
      
	<extension
      point="org.eclipse.ui.commands">
	   <command
	         categoryId="org.eclipse.papyrus.editor.category"
	         defaultHandler="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.ChangetoMachineShapeHandler"
	         id="de.cooperate.modeling.graphical.papyrus.extensions.usecase.displayactorasmachine.popup"
	         name="Display actor as machine">
	   </command>
	   <command
	         categoryId="org.eclipse.papyrus.editor.category"
	         defaultHandler="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.ChangetoStickyShapeHandler"
	         id="de.cooperate.modeling.graphical.papyrus.extensions.usecase.displayactorassticky.popup"
	         name="Display actor as stickyman">
	   </command>
	</extension>
	<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.papyrus.uml.diagram.ui.popupmenu.format">
      <command
            commandId="de.cooperate.modeling.graphical.papyrus.extensions.usecase.displayactorasmachine.popup"
            id="displayactorasmachine.popup"
            label="Display actor as machine"
            style="push"
            tooltip="Display actor as machine">
         <visibleWhen
               checkEnabled="true">
         </visibleWhen>
      </command>
      <command
            commandId="de.cooperate.modeling.graphical.papyrus.extensions.usecase.displayactorassticky.popup"
            id="displayactorassticky.popup"
            label="Display actor as stickman"
            style="push"
            tooltip="Display actor as stickman">
         <visibleWhen
               checkEnabled="true">
         </visibleWhen>
      </command>
   </menuContribution>
</extension>
 <extension
       point="de.cooperateproject.modeling.graphical.papyrus.extensions.PaletteCustomization">
    <customization
          class="de.cooperateproject.modeling.graphical.papyrus.extensions.usecase.UseCasePaletteCustomization">
    </customization>
 </extension>
</plugin>
