<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cooperateproject.de/modeling/textual/component/Component"
            class="de.cooperateproject.modeling.textual.component.component.ComponentPackage"
            genModel="model/component.genmodel"/>
   </extension>


<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="model/ComponentDiagram.view"/>
</extension>
</plugin>
