<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DummyModel -->
      <package
            uri="http://example.org/dummy/model/internal/use/only"
            class="dummy.DummyPackage"
            genModel="model/dummyMetaModel/DummyModel.genmodel"/>
   </extension>

</plugin>
