<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated textualCommons -->
      <package
            uri="http://www.cooperateproject.de/modeling/textual/commons"
            class="de.cooperateproject.modeling.textual.common.metamodel.textualCommons.TextualCommonsPackage"
            genModel="model/textualCommons.genmodel"/>
   </extension>

</plugin>
