<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cooperateproject.ui.focus.filter.elementfilter">
      <class
            class="de.cooperateproject.modeling.graphical.integration.focus.ClassDiagramElementFilter">
      </class>
   </extension>

</plugin>
