<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cooperateproject.de/modeling/textual/cls/Cls"
            class="de.cooperateproject.modeling.textual.cls.cls.ClsPackage"
            genModel="model/cls.xcore"/>
   </extension>

</plugin>
