<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated usecase -->
      <package
            uri="http://www.cooperateproject.de/modeling/textual/usecase/Usecase"
            class="de.cooperateproject.modeling.textual.usecase.usecase.UsecasePackage"
            genModel="model/usecase.genmodel"/>
   </extension>

</plugin>
