<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.cooperateproject.ui.wizards.cooperateWizards"
            class="de.cooperateproject.ui.cls.wizards.modelnew.NewClassDiagramWizard"
            finalPerspective="de.cooperateproject.ui.perspective"
            icon="platform:/plugin/de.cooperateproject.ui/icons/16/cooperate_16.png"
            id="de.cooperateproject.ui.cls.wizards.newClassDiagram"
            name="Class Diagram">
      </wizard>
  </extension>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/de.cooperateproject.ui/icons/16/cooperate_16.png"
               label="Class Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="de.cooperateproject.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="newWizardId"
                  value="de.cooperateproject.ui.cls.wizards.newClassDiagram">
            </parameter>
         </command>
      </menuContribution>
  </extension>
</plugin>
